[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wikitextparser = "*"
mwclient = "*"
pyopenssl = "*"
beautifulsoup4 = "*"

[dev-packages]
nose2 = "*"

[requires]
